body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  box-sizing: border-box; }
  body .button {
    cursor: pointer; }

.Header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between; }

.FileUpload .dropzone {
  border: 1px solid hotpink; }

.FileUpload .far {
  font-size: 2.5em;
  margin: 5px; }

.ProfileList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .ProfileList .button {
    height: 304px;
    width: 200px;
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    box-shadow: grey 1px 1px 1px;
    font-weight: 600; }
    .ProfileList .button .fas {
      font-size: 25px;
      margin: 10px; }

.ProfileMini {
  margin: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  box-shadow: grey 1px 1px 1px; }

.Home {
  display: flex;
  justify-content: center; }

.Photo {
  margin: 20px; }
  .Photo .photo {
    height: 400px;
    width: 400px; }
