body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  box-sizing: border-box; }
  body .button {
    cursor: pointer; }

.Header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  font-size: 18px; }
  .Header .right {
    display: flex; }
    .Header .right div {
      margin: 0 10px; }

.ProfileList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px; }
  .ProfileList .button {
    height: 304px;
    width: 200px;
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    box-shadow: grey 1px 1px 1px;
    font-weight: 600; }
    .ProfileList .button .fas {
      font-size: 25px;
      margin: 10px; }

.ProfileMini {
  margin: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  box-shadow: grey 1px 1px 1px;
  text-align: center;
  cursor: pointer; }
  .ProfileMini span {
    text-transform: capitalize; }
  .ProfileMini div {
    width: 210px; }
  .ProfileMini .photo {
    height: 200px;
    width: 200px;
    border-radius: 50%; }

.Home {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.Photo {
  margin: 20px; }
  .Photo .photo-container {
    width: 500px;
    margin: auto; }
  .Photo .photo {
    height: 500px;
    width: 500px;
    background-size: cover;
    background-position: center; }
  .Photo .profile-info {
    display: flex;
    padding: 5px 0; }
  .Photo .profile-photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center; }
  .Photo span {
    text-transform: capitalize;
    line-height: 50px;
    padding: 0 5px; }
  @media (max-width: 600px) {
    .Photo .photo-container {
      width: 400px; }
    .Photo .photo {
      height: 400px;
      width: 400px; } }
  @media (max-width: 450px) {
    .Photo .photo-container {
      width: 300px; }
    .Photo .photo {
      height: 300px;
      width: 300px; } }

.Login {
  text-align: center;
  padding-top: 80px; }
  .Login input {
    font-family: inherit;
    font-size: inherit;
    width: 200px;
    padding: 3px 5px;
    margin: 5px; }
  .Login .button {
    width: 125px;
    margin: 10px;
    padding: 5px;
    display: inline-block; }
  .Login .login {
    background-color: lightgrey; }
  .Login .signup {
    background-color: lightgrey; }

.AddPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px; }
  .AddPhoto textarea, .AddPhoto img {
    min-width: 300px;
    width: 50%;
    padding: 5px;
    margin: 10px;
    font-family: inherit;
    font-size: inherit;
    resize: none; }
  .AddPhoto .button {
    background-color: lightgrey;
    min-width: 300px;
    width: 50%;
    padding: 5px;
    text-align: center; }

.FileUpload {
  text-align: center;
  width: 100%; }
  .FileUpload .dropzone {
    border: 1px solid gray;
    min-width: 300px;
    width: 50%;
    padding: 40px 5px;
    margin: auto; }
  .FileUpload .far {
    font-size: 2.5em;
    margin: 5px; }

.NewProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px; }
  .NewProfile input, .NewProfile img {
    min-width: 300px;
    width: 50%;
    padding: 5px;
    margin: 10px;
    font-family: inherit;
    font-size: inherit; }
  .NewProfile .button {
    background-color: lightgrey;
    min-width: 300px;
    width: 50%;
    padding: 5px;
    text-align: center; }
  .NewProfile .selected, .NewProfile .not-selected {
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid gray;
    width: 80px;
    text-align: center;
    border-radius: 25px; }
  .NewProfile .selected {
    background-color: lightgray; }

.BreedDropdown {
  min-width: 300px;
  width: 51%;
  margin: 10px; }

.Profile .photo {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  position: relative; }
  .Profile .photo div, .Profile .photo p {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
    text-align: center; }
  .Profile .photo p {
    font-size: 2em;
    letter-spacing: 1px; }
  .Profile .photo span, .Profile .photo p {
    text-transform: capitalize; }
  .Profile .photo .button {
    background-color: rgba(211, 211, 211, 0.7); }
